{% extends 'body.html' %}

{% block title %}
Сервис по сокращению ссылок
{% endblock %}

{% block body %}
<h1>Сократите ссылку в одик клик!</h1>
Просто введите нужный url в поле ниже:
<div>
    <form method="post">
        <input type="text" name="long_url" id="long_url" placeholder="Please, enter long url to this form!">
        <input type="text" name="short_url" id="short_url" placeholder="Please, enter short url to this form if you want save this short url for long url!">
        <input type="submit" value="Get short url!">
    </form>
</div>
{% endblock %}